<section class="article-section" id="article">
    <div class="container article-container">
        <div class="article-desc">
            <h2 class="article-title">
                Welcome to Booksy – your cozy corner for handpicked reads.
            </h2>
            <p class="article-text">
                We believe books are more than just stories — they’re companions,
                doorways, and memories. Whether you’re chasing adventures or quiet
                moments, we’re here to help you find your next favorite book.
            </p>
        </div>
        <picture class="article-picture">
            <source media="(min-width:1440px )"
                srcset="/img/аrticle/desktop-container-min.jpg 1x, /img/desktop-container@2x-min.jpg 2x">
            <source media="(min-width: 768px)"
                srcset="/img/аrticle/tablet-container-min.jpg 1x, /img/article/tablet-container@2x-min.jpg 2x">
            <source media="(max-width:768px)"
                srcset="/img/аrticle/mobile-container-min.jpg, /img/article/mobile-container@2x-min.jpg 2x">
            <img class="article-photo" src="/img/article/desktop-container-min.jpg"
                alt="Cozy reading nook in a sunlit library with shelves of books" loading="lazy" width="343"
                height="248">
        </picture>
    </div>
</section>
