<section class="events-section">
    <div class="container ev-container">
        <p class="ev-descr-title">Events</p>
        <h2 class="ev-title">Upcoming Events at Booksy</h2>
        <p class="ev-text">Discover readings, workshops, and bookish gatherings — online and offline. Everyone’s
            welcome.</p>
    
            <div class="ev-swiper">
    <ul class="ev-list">
        <!-- Midnight -->
        <li class="ev-item">
            <picture class="ev-photo">
                <source media="(min-width: 1440px)"
                
                    srcset="/img/events/midnight-desk-1x.jpg 1x, /img/events/midnight-desk-2x.jpg 2x" />

                <source media="(min-width: 768px)"
                    srcset="/img/events/midnight-tabl-1x.jpg 1x, /img/events/midnight-tabl-2x.jpg 2x" />

                <source media="(max-width: 767px)"
                    srcset="/img/events/midnight-mob-1x.jpg 1x, /img/events/midnight-mob-2x.jpg 2x" />
                <img src="/img/events/midnight-mob-1x.jpg" width="342" height="277" alt="The Midnight Library" />
            </picture>
            <div class="ev-descr">
                <h3 class="ev-descr-title">Cozy Book Club — “The Midnight Library”</h3>
                <p class="ev-descr-meta">In-store | June 5, 6:30 PM</p>
                <p class="ev-descr-text">Join us for an evening of tea, thoughtful conversation, and shared reflections
                    as we dive into Matt Haig’s bestseller.</p>
                <button class="ev-btn" type="button">Register
                    <svg width="8" height="12">
                        <use class="ev-icon" href="/img/sprite.svg#icon-right"></use>
                    </svg>
                </button>
            </div>
        </li>

        <!-- Design -->
        <li class="ev-item">
            <picture class="ev-photo">
                <source media="(min-width: 1440px)"
                    srcset="/img/events/design-desk-1x.jpg 1x, /img/events/design-desk-2x.jpg 2x" />
        
                <source media="(min-width: 768px)"
                    srcset="/img/events/design-tabl-1x.jpg 1x, /img/events/design-tabl-2x.jpg 2x" />
        
                <source media="(max-width: 767px)"
                    srcset="/img/events/design-mob-1x.jpg 1x, /img/events/design-mob-2x.jpg 2x" />
                <img src="/img/events/design-mob-1x.jpg" width="342" height="277" alt="The Midnight Library" />
            </picture>

            <div class="ev-descr">
                <h3 class="ev-descr-title">Cozy Book Club — “The Midnight Library”</h3>
                <p class="ev-descr-meta">In-store | June 5, 6:30 PM</p>
                <p class="ev-descr-text">Join us for an evening of tea, thoughtful conversation, and shared reflections
                    as we dive into Matt Haig’s bestseller.</p>
                <button class="ev-btn" type="button">Register
                    <svg width="8" height="12">
                        <use class="icon" href="/img/sprite.svg#icon-right"></use>
                    </svg>
                </button>
            </div>
        </li>

        <!-- Children -->
        <li class="ev-item">
            <picture class="ev-photo">
                <source media="(min-width: 1440px)"
                    srcset="/img/events/childrens-desk-1x.jpg 1x, /img/events/childrens-desk-2x.jpg 2x" />
        
                <source media="(min-width: 768px)"
                    srcset="/img/events/childrens-tabl-1x.jpg 1x, /img/events/childrens-tabl-2x.jpg 2x" />
        
                <source media="(max-width: 767px)"
                    srcset="/img/events/childrens-mob-1x.jpg 1x, /img/events/childrens-mob-2x.jpg 2x" />
                <img src="/img/events/childrens-mob-1x.jpg" width="342" height="277" alt="The Midnight Library" />
            </picture>

            <div class="ev-descr">
                <h3 class="ev-descr-title">Cozy Book Club — “The Midnight Library”</h3>
                <p class="ev-descr-meta">In-store | June 5, 6:30 PM</p>
                <p class="ev-descr-text">Join us for an evening of tea, thoughtful conversation, and shared reflections
                    as we dive into Matt Haig’s bestseller.</p>
                <button class="ev-btn" type="button">Register
                    <svg width="8" height="12">
                        <use class="icon" href="/img/sprite.svg#icon-right"></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>

<div class="ev-slide-wrap">
    <ul class="ev-pagination" aria-label="Slides pagination"></ul>
    

    <div class="ev-nav" aria-label="Slider navigation">
        <button class="ev-swipe-btn-prev" type="button" aria-label="Previous slide">
            <svg width="14" height="14" aria-hidden="true">
                <use class="ev-icon-ar" href="/img/sprite.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button class="ev-swipe-btn-next" type="button" aria-label="Next slide">
            <svg width="14" height="14" aria-hidden="true">
                <use class="ev-icon-ar" href="/img/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
</div>


    </div>
    </div>
</section>