<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <nav class="footer-logo-nav">
        <a href="./index.html" class="footer-logo-icon" aria-label="Back to homepage">
          <svg class="footer-logo-icon" width="84" height="36" fill="black">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-nav-links-list">
          <li><a href="./index.html" class="footer-nav-link">Home</a></li>
          <li><a href="#books" class="footer-nav-link">Books</a></li>
          <li><a href="#feedbacks" class="footer-nav-link">Feedbacks</a></li>
          <li><a href="#location" class="footer-nav-link">Location</a></li>
        </ul>
      </nav>
      <div class="footer-join">
        <form class="form-footer">
          <label for="join" class="footer-join-label">Join</label>
          <div class="footer-email-form">
            <input class="email-input" type="email" name="email-address" placeholder="Enter your email" id="join"
              required pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" autocomplete="email" />
            <button class="footer-join-btn" type="submit">Sign up</button>
          </div>
        </form>
        <span class="footer-join-message">* Required field</span>
      </div>
    </div>
    <div class="license-container">
      <span class="license-text" aria-label="license-text">&#xA9; 2025 Booksy. All rights reserved.</span>
    </div>
  </div>
</footer>