<header class="header" id="header">
  <div class="header-container container">
    <a href="./index.html" class="header-logo">
      <svg class="logo-icon" width="84" height="36">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="./index.html" class="header-nav-list-link">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#books" class="header-nav-list-link">Books</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#feedbacks" class="header-nav-list-link">Feedbacks</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#events" class="header-nav-list-link">Events</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#location" class="header-nav-list-link">Location</a>
        </li>
      </ul>
    </nav>
    <div class="burger">
      <button type="button" class="burger-icon" data-burger-btn aria-label="Відкрити меню">
        <svg class="burger-icon-svg" width="24" height="24">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header-modal header-modal-container">
    <div class="header-modal-container">
      <div class="header-modal-nav">
        <a href="./index.html" class="header-modal-nav-logo">
          <svg class="logo-icon" width="84" height="36">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <button type="button" class="header-modal-nav-close" aria-label="Закрити меню">
          <svg class="x-logo-icon" width="12" height="12">
            <use href="./img/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <ul class="header-modal-list">
        <li class="header-modal-list-item">
          <a href="#header" class="header-modal-list-link">Home</a>
        </li>
        <li class="header-modal-list-item">
          <a href="#books" class="header-modal-list-link">Books</a>
        </li>
        <li class="header-modal-list-item">
          <a href="#feedbacks" class="header-modal-list-link">Feedbacks</a>
        </li>
        <li class="header-modal-list-item">
          <a href="#events" class="header-modal-list-link">Events</a>
        </li>
        <li class="header-modal-list-item">
          <a href="#location" class="header-modal-list-link">Location</a>
        </li>
      </ul>
    </div>
  </div>
</header>