<section class="hero" id="hero">
  <div class="container">
    <div class="hero-text">
      <p class="hero-subtitle">Get 10% off your first order</p>
      <a href="#books" class="hero-button">Shop Now!</a>
    </div>

    <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
    <div class="hero-slider">
      <button
        class="slider-btn prev"
        id="prevBtn"
        aria-label="Попередній слайд"
      >
        ←
      </button>
      <ul class="swiper-wrapper">
        <li class="swiper-slide"><img src="" alt="" /></li>
        <li class="swiper-slide"><img src="" alt="" /></li>
        <li class="swiper-slide"><img src="" alt="" /></li>
      </ul>
      <button
        class="slider-btn next"
        id="nextBtn"
        arial-label="Наступний слайд"
      >
        →
      </button>
    </div>
  </div>
</section>
