<section class="location-section" id="location">
  <div class="container location-container">
    <div class="location-content-wrapper">
      <div class="location-text-content">
        <p class="location-tagline">Location</p>
        <h2 class="location-title">How to find us</h2>
        <p class="location-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>
      <ul class="location-contacts-list">
        <li class="location-contacts-item">
          <div class="location-icon-wrapper">
            <svg class="location-icon" width="24" height="24">
              <use href="./public/img/sprite.svg#icon-mail"></use>
            </svg>
          </div>
          <div class="location-contact-info">
            <h3 class="location-contact-title">Email</h3>
            <a href="mailto:hello@booksy.com" class="location-contact-link"
              >hello@booksy.com</a
            >
          </div>
        </li>
        <li class="location-contacts-item">
          <div class="location-icon-wrapper">
            <svg class="location-icon" width="24" height="24">
              <use href="./public/img/sprite.svg#icon-phone"></use>
            </svg>
          </div>
          <div class="location-contact-info">
            <h3 class="location-contact-title">Phone</h3>
            <a href="tel:+612413043012" class="location-contact-link"
              >+61 (241) 304-3012</a
            >
          </div>
        </li>
        <li class="location-contacts-item">
          <div class="location-icon-wrapper">
            <svg class="location-icon" width="24" height="24">
              <use href="./public/img/sprite.svg#icon-locate"></use>
            </svg>
          </div>
          <div class="location-contact-info">
            <h3 class="location-contact-title">Office</h3>
            <p class="location-contact-text">
              123 Books St, Sydney NSW 2000 AU
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="location-map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.193297129598!2d151.2040283763321!3d-33.88458997322044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae22cd06f3b9%3A0x8ed1a723a3f2545f!2s123%20Books%20St%2C%20Sydney%20NSW%202000%2C%20Australia!5e0!3m2!1sen!2sus!4v1696864848888!5m2!1sen!2sus"
        class="location-map"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
