<div
  class="modal modal-contacts"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modalTitle"
  aria-describedby="modalDesc"
>
  <div class="container">
    <div class="modal-content">
      <button class="modal_close-btn" aria-label="Close contacts form modal">
        <svg>
          <use class="mc" xlink:href="img/sprite.svg#icon-x"></use>
        </svg>
      </button>

      <h2 class="modal-contacts_title" id="modalTitle">Register</h2>
      <p class="modal-contacts_text" id="modalDesc">
        Cozy Book Club — “The Midnight Library”
      </p>
      <form class="modal-contacts_form" id="contactForm" novalidate>
        <label class="contact-form-name">
          Name* <span class="validation-error"></span>
          <input
            class="form-control"
            type="text"
            id="user_name"
            name="user_name"
            required
            placeholder="Ann"
            autocomplete="name"
            data-validate="required"
        /></label>
        <label class="contact-form-email"
          >Email* <span class="validation-error"></span>
          <input
            class="form-control"
            type="email"
            name="user_email"
            id="user_email"
            required
            placeholder="hello@booksy.com"
            autocomplete="email"
            data-validate="email"
        /></label>
        <label class="contact-form-message"
          >Message <span class="validation-error"></span>
          <textarea
            class="form-control"
            name="user_message"
            id="user_message"
            placeholder="Type your message..."
            rows="4"
          ></textarea>
        </label>

        <button
          class="btn register-btn"
          type="submit"
          id="submitBtn"
          name="register"
          aria-label="Register"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</div>
