
/* mob first */

.events-section {
    background-color: #fceee6;
    width: 100%;
}

.ev-container {
    padding: 64px 16px;
}

.ev-card-title {
    font-weight: 600;
    margin-bottom: 16px;
}

.ev-title {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.ev-text {
    font-size: 18px;
    margin-bottom: 32px;
}

.ev-swiper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.ev-swiper .ev-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ev-swiper .ev-item {
    flex: 0 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ev-photo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    /* margin-bottom: 16px; */
}

.ev-photo img {
    display: block;
    border-radius: 16px;
    width: 100%;
    height: 277px;
    object-fit: cover;
}

.ev-descr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-height: 0;
 }

.ev-descr-title {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    margin: 0;
}

.ev-descr-meta {
    margin-bottom: 8px;
}

.ev-descr-text {
    margin-bottom: 16px;
}

.ev-descr .ev-btn {
    margin-top: auto;
    align-self: flex-start;
 }

.ev-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;

    margin: 0;
    padding: 0;
    font: inherit;
    text-align: left;
}

.ev-btn svg {
    display: block;
}

.ev-slide-wrap {
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 190px;
        width: 100%;
        max-width: 342px;
        height: 48px;
        margin: 0 auto 64px;  
}

.ev-pagination {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* margin: 20px 0;
    justify-content: center; */
}

.ev-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #999;
    opacity: 0.5;
}

.ev-dot--active {
    background: #111;
    opacity: 1;
}

.ev-nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ev-swipe-btn-prev,
.ev-swipe-btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #e15d05;
    cursor: pointer;
}

.ev-swipe-btn-prev[disabled],
.ev-swipe-btn-next[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    background: #e15d05;
    border-color: rgba(11, 5, 0, 0.15);;
    pointer-events: none;
}

.ev-swipe-btn-prev svg,
.ev-swipe-btn-next svg {
    color: #fff;
    fill: #fff;
}

/* .ev-icon-ar {
  fill: #fff;;  
} */

@media (min-width: 768px) {

    .ev-container {
    padding: 64px 32px;
}
.ev-photo img {
    height: 277px;
    }
}

@media (min-width:1440px) {
            .events-section .ev-slide-wrap,
            .events-section .ev-pagination,
            .events-section .ev-nav {
                display: none;
            }    
}