.modal-contacts .container {
  position: relative;
  width: 100%;
}

.modal-contacts .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.modal-contacts_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.modal-contacts_text {
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 48px;
}

.register-btn {
  width: 100%;
  height: 48px;
}

.modal-contacts_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.modal-contacts_form input,
.modal-contacts_form textarea {
  margin-top: 8px;
  background-color: #fceee6;
  color: #0b0500;
  border: 1px solid #0b050099;
  border-radius: 4px;
  padding: 8px 12px;
  min-width: 100%;
  outline: none;
}

.modal-contacts_form textarea {
  height: 180px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .modal-contacts .modal-content {
    padding-inline: 32px;
  }
  .register-btn {
    width: 342px;
    margin: 0 auto;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .modal-contacts .modal-content {
    padding-inline: 104px;
  }
  .modal-contacts .container {
    max-width: 866px;
    padding-inline: 0;
  }
}

/* --- Form Validation Highlighting --- */
.form-control.invalid {
  outline: 1px solid #ef4444;
  box-shadow: 0 0 0 1px #ef4444;
}

.validation-error {
  color: darkred;
}
